<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="styles/main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

</head>
<body>
	<header>
		<div class="data">
			<h1>Sneakerdeck</h1>
			<h2>In Kicks We Trust</h2>
			<button class="style1"><a href="/Signup"</a>Join</button>
			<button class="style2"><a href="/login"</a>Signin</button>
		</div>
	</header>

	<div class="banner">

	</div>

	<div class="slide-show"></div>
	<footer>

	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
	<script src="scripts/main.js"></script>
</body>
</html>