
    <div class="menu-items" role="navigation">
				
				<a href="#">SNEAKERDECK</a>
				
	</div>
	
    <div class="container meat">
		<div class="items">
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail" id="float">
				<img id="img" src="images/Midnight 5s.jpg" alt="..." width="100%">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img1" src="images/Diamond baby blue.jpg" width="100%" alt="...">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img2" src="images/In da water.jpg" width="100%" alt="...">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img3" src="images/Asics styll.jpg" width="100%" alt="...">
				</a>
			</div>
		
					<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img" src="images/Midnight 5s.jpg" alt="..." width="100%">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img1" src="images/Diamond baby blue.jpg" width="100%" alt="...">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img2" src="images/In da water.jpg" width="100%" alt="...">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img3" src="images/Asics styll.jpg" width="100%" alt="...">
				</a>
			</div>
				
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img" src="images/Midnight 5s.jpg" alt="..." width="100%">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img1" src="images/Diamond baby blue.jpg" width="100%" alt="...">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail float">
				<img id="img2" src="images/In da water.jpg" width="100%" alt="...">
				</a>
			</div>
			
			<div class="col-xs-6 col-md-4">
				<div class="img30 thumbnail float">
					<div class="snks">
						<button type="button" class="btn btn-default">Deck</button>
					</div>
				</div>
				</a>
			</div>
		</div>
    </div><!-- /.container -->
	
	
	
	<div class="footer">
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="footer-items">
				<button href="#" type="button" class="btn btn-default btn-lg" onClick='changeImage(feed[1][0]); changeImage1(feed[1][1])'>
					<span class="glyphicon glyphicon-tower"></span>
				</button>
			
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-cloud-upload"></span>
				</button>
				
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-flash"></span>
				</button>
				
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-user"></span>
				</button>
				
			</div>
	</div>
</div>