@import 'css/bootstrap/bootstrap';

body {
  padding-top: 0px;
}

.items{
	display:flex;
	flex-flow:row wrap;
}
.menu-items{
	display:flex;
	width:100%;
	justify-content:space-between;
	background-color:#FFFFF0;
	padding:5px;
	align-items:center;
}
.logo{
	margin-top:7px;
	margin-left:5px;
	margin-right:5px;
	text-decoration:none;
	font-weight:bold; 
	font-size: 26px;
	color: black;
	opacity:0.8;
	font-family:Arial;
}
.header-icons li a{
	display:flex;
	flex-flow:column;
	margin:2px;
	align-items:center;
	text-decoration: none;
	color:black;
	opacity: .75;
	padding: 0 10px;
}

.header-icons span a:hover, .header-icons span a:focus{
	border-bottom: 3px solid black;
	transition-duration: 0.3s;
}
.header-icons {
	display:flex;
	justify-content:space-around;
	width:50%;
}

.footer-items{
	display:flex;
	width:100%;
	justify-content:center;
}
.btn{
	margin:7px;
}
.meat{
	padding:4%;
}
#float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#float:hover, #float:focus, #float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.snks{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	opacity:0;
}
