body {
  padding-top: 80px;
  background: url('../images/Nike Lunar.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
