body {
  padding-top: 0px;
}
.items{
	display:flex;
	flex-flow:row wrap;
}

.menu{
	background-color:#262932;
	border:1px solid #262932;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.menu-items{
	display:flex;
	width:100%;
	justify-content:center;
	background-color:#857676;
	padding:5px;
}
.menu-items a{
	margin-top:7px;
	margin-left:5px;
	margin-right:5px;
	text-decoration:none;
	font-style:sans serif;
	font-weight:bold;  
	font-size: 26px;
	color: white;
}
.footer-items{
	display:flex;
	width:100%;
	justify-content:center;
}
.btn{
	margin:7px;
}
.meat{
	padding:4%;
}
#float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#float:hover, #float:focus, #float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}